<nav>
  <div class="brand"><b>Preloading</b>Strategies</div>
  <ul>
    <li>
      <a
        routerLink="/home"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li>
      <a
        routerLink="/todos"
        routerLinkActive="active"
        (mouseenter)="preloadChunk('todos')"
        >Todos</a
      >
    </li>
    <li>
      <a
        routerLink="/posts"
        routerLinkActive="active"
        (mouseenter)="preloadChunk('posts')"
        >Posts</a
      >
    </li>
    <li>
      <a
        routerLink="/users"
        routerLinkActive="active"
        (mouseenter)="preloadChunk('users')"
        >Users</a
      >
    </li>
  </ul>
</nav>
