<nav>
  <div class="brand"><b>Preloading</b>Strategies</div>
  <ul>
    <li>
      <a
        routerLink="/home"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li>
      <a routerLink="/todos" routerLinkActive="active">Todos</a>
    </li>
    <li>
      <a routerLink="/posts" routerLinkActive="active">Posts</a>
    </li>
    <li>
      <a routerLink="/users" routerLinkActive="active">Users</a>
    </li>
  </ul>
</nav>
