nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  font-size: 24px;
  color: #2d728f;
}

ul {
  list-style: none;
  display: flex;

  li {
    font-size: 20px;
  }

  li:not(:last-child) {
    margin-right: 16px;
  }
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
    color: #2d728f;
  }

  &.active {
    font-weight: 600;
  }
}
