.card {
  display: flex;
  flex-direction: column;
  border: solid 1px #ccc;
  padding: 8px;

  &:hover {
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.05);
  }
}

.card-title {
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.card-content {
  font-size: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-footer {
  margin: 16px 0 8px 0;
  a {
    padding: 8px;
    background-color: #2d728f;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
  }
}
